{{ define "main" }}
    {{ "<!-- Portfolio Modals -->" | safeHTML }}
    <div class="container project-container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <button type="button" class="btn btn-default" onclick="goBack()"><i class="fa fa-arrow-left"></i></button>
                <div class="modal-body">
                    {{ with .Params.fullTitle}}
                        <h2 class="project-title text-center">{{humanize .}}</h2>
                    {{ else }}
                        <h2 class="project-title text-center">{{humanize .Title }}</h2>
                    {{ end }}
                    <hr class="star-primary">
                    <ul class="list-inline item-details">
                        <li>{{ with $.Site.Params.portfolio.modal.date }}{{.}}{{ end }}:
                            <strong>{{ .Params.fecha }}</strong>
                        </li>
                        {{ if not (eq .Params.client "") }}
                        <li>{{ with $.Site.Params.portfolio.modal.client }}{{.}}{{ end }}:
                            <strong><a href="{{ .Params.clientLink }}" target="_blank">{{ .Params.client }}</a></strong>
                        </li>
                        {{ end }}
                        <li>{{ with $.Site.Params.portfolio.modal.category }}{{.}}{{ end }}:
                            {{ range $number, $name := .Params.categories }}
                            <strong><a href="{{ $.Site.BaseURL }}categories/{{ $name | urlize | lower  }}">{{humanize $name }}</a></strong>
                            {{ end }}
                            <!-- <strong>{{humanize (delimit .Params.categories ", ") }}</strong> -->
                        </li>
                        <br>
                        <li>Tags:
                            {{ range $number, $name := .Params.tags }}
                            <a href="{{ $.Site.BaseURL }}tags/{{ $name | urlize | lower  }}">#{{ $name }}</a>
                            {{ end }}
                        </li>
                    </ul>
                    <div class="modal-description">
                        <p> {{ .Params.description | markdownify }}</p>
                    </div>
                    <div class="project-content">{{ .Content }}</div>
                    
                </div>
                </div>
            </div>
        </div>
    </div>
{{ end }}