{{ "<!-- jQuery -->" | safeHTML }}
{{ $jquery := resources.Get "js/jquery-1.11.js" | minify | fingerprint }}
<script src="{{ $jquery.Permalink }}" integrity="{{ $jquery.Data.Integrity }}"></script>

{{ "<!-- Bootstrap Core JavaScript -->" | safeHTML }}
{{ $bootstrap := resources.Get "js/bootstrap.js" | minify | fingerprint }}
<script src="{{ $bootstrap.Permalink }}" integrity="{{ $bootstrap.Data.Integrity }}"></script>

{{ "<!-- Plugin JavaScript -->" | safeHTML }}
{{ $jqueryEasing := resources.Get "js/jquery.easing.min.js" | minify | fingerprint }}
<script src="{{ $jqueryEasing.Permalink }}" integrity="{{ $jqueryEasing.Data.Integrity }}"></script>

{{ $classie := resources.Get "js/classie.js" | minify | fingerprint }}
<script src="{{ $classie.Permalink }}" integrity="{{ $classie.Data.Integrity }}"></script>
<!-- <script src="{{ .Site.BaseURL }}js/cbpAnimatedHeader.js"></script> -->

{{ "<!-- Contact Form JavaScript -->" | safeHTML }}
{{ $jqBootstrapValidation := resources.Get "js/jqBootstrapValidation.js" | minify | fingerprint }}
<script src="{{ $jqBootstrapValidation.Permalink }}" integrity="{{ $jqBootstrapValidation.Data.Integrity }}"></script>

{{ $contactMe := resources.Get "js/contact_me.js" | minify | fingerprint }}
<script src="{{ $contactMe.Permalink }}" integrity="{{ $contactMe.Data.Integrity }}"></script>

{{ "<!-- Custom Theme JavaScript -->" | safeHTML }}
{{ $freelancer := resources.Get "js/freelancer.js" | minify | fingerprint }}
<script src="{{ $freelancer.Permalink }}" integrity="{{ $freelancer.Data.Integrity }}"></script>

{{ "<!-- Custom JavaScript files -->" | safeHTML }}
{{ range .Site.Params.custom_js }}
    {{ $customJS := resources.Get . | minify | fingerprint }}
    <script src="{{ $customJS.Permalink }}" integrity="{{ $customJS.Data.Integrity }}"></script>
{{ end }}

<script>
    function goBack() {
        window.history.back();
    }
</script>
