{{ "<!-- Navigation -->" | safeHTML }}
<nav class="navbar navbar-default">
    <div class="container">
        {{ "<!-- Brand and toggle get grouped for better mobile display -->" | safeHTML }}
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ .Site.LanguagePrefix | relLangURL }}">{{ with .Site.Params.navigation.brand }}{{ . }}{{ end }}</a>
        </div>
        {{ "<!-- Collect the nav links, forms, and other content for toggling -->" | safeHTML }}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="https://registry.jsonresume.org/benjavides">Resume</a>
                </li>
                <li class="page-scroll">
                    <a href="{{ .Site.BaseURL }}{{ .Site.Language.Lang }}/#about">{{ with .Site.Language.Params.about.title }}{{ . }}{{ end }}</a>
                </li>
                <li class="page-scroll">
                    <a href="{{ .Site.BaseURL }}{{ .Site.Language.Lang }}/#contact">{{ with .Site.Params.contact.title }}{{ . }}{{ end }}</a>
                </li>
                {{ "<!-- Languages dropdown for large screens -->" | safeHTML }}
                <li class="dropdown hidden-xs">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ .Site.Language.Lang | upper }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {{ range .AllTranslations }}
                            {{ if ne .Lang $.Site.Language.Lang }}
                                <li>
                                    <a href="{{ .Permalink }}">{{ .Lang | upper }}</a>
                                </li>
                            {{ end }}
                        {{ else }}
                            <li><p>No translations available</p></li>
                        {{ end }}
                    </ul>
                </li>
                {{ "<!-- Languages links for small screens -->" | safeHTML }}
                {{ range .AllTranslations }}
                    {{ if eq .Lang $.Site.Language.Lang }}
                        <li class="visible-xs-inline-block">
                            <p style="color: var(--color-quarter); margin: 0; font-size: 15px; padding: 10px 15px;">
                                {{ .Lang | upper }}
                            </p>
                        </li>
                    {{ else }}
                        <li class="visible-xs-inline-block">
                            <a href="{{ .Permalink }}">{{ .Lang | upper }}</a>
                        </li>
                    {{ end }}
                {{ end }}
            </ul>
        </div>
        {{ "<!-- /.navbar-collapse -->" | safeHTML }}
    </div>
    {{ "<!-- /.container-fluid -->" | safeHTML }}
</nav>
