{{ "<!-- Portfolio Grid Section -->" | safeHTML }}
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ with .Site.Params.portfolio.title }}{{.}}{{end}}</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <!-- Mostramos solo 9 páginas que tengan el parametro display en true y las ordenamos por modalID descendiente -->
            {{ $paginator := .Paginate (where .Pages "Params.display" true) 9 }}
            {{ range (.Paginator.Pages.ByParam "modalID").Reverse}}
            <div class="col-sm-4 portfolio-item">
                <a href="{{ .URL }}" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="/img/portfolio/{{ .Params.img }}" class="img-responsive">
                </a>
                <h4 class="text-center">{{ .Params.title }}</h4>
            </div>
            {{ end }}
        </div>
    </div>
    <div class="text-center">{{ partial "pagination.html" . }}</div>
</section>